<section class="orders light-section mx-auto ml-10 mr-10">
  <div class="container mx-auto pt-12">
    <h1 class="font-bold text-lg mb-4">All orders</h1>
    <table class="w-full table-auto bg-white">
      <thead class="bg-stone-200">
        <tr>
          <th class="px-4 py-2 text-left border-3">Orders</th>
          <th class="px-4 py-2 text-left border-3">Customer</th>
          <th class="px-4 py-2 text-left border-3">Address</th>
          <th class="px-4 py-2 text-left border-3">Status</th>
          <th class="px-4 py-2 text-left border-3">Placed at</th>
          <th class="px-4 py-2 text-left border-3">Payment</th>
        </tr>
      </thead>
      <tbody id="orderTableBody">
        <!-- this body will remain empty we want to render new upadated orders on admin page w/o refrsh page -->

      </tbody>
    </table>
  </div>
</section>
